* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family: "JetBrainsMono NF", "JetBrains Mono NL", "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
  transition: background-color .3s ease-out;
}


window#waybar {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-family:
    JetBrainsMono NF,
    JetBrains Mono NL,
    SpaceMono Nerd Font,
    feather;
  transition: background-color .5s;
}

#waybar {
  background-color: rgba(28, 28, 30, 0.50);
  border-bottom: 1px solid #000000;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0 18px;
}

#workspaces button {
  background: transparent;
  font-weight: 900;
  font-size: 13pt;
  border-radius: 8px;
  margin: 5px;

}

#workspaces button.active {
  background: rgba(255, 255, 255, .1);
}

#workspaces button:hover {
  background: rgba(255, 255, 255, .3);
}

#custom-menu {
  margin: 0 8px;
  font-weight: 900;
}


#custom-arch:hover {}